<div class="container">
  <h1>Welcome to the Vegetable Helper!</h1>

    <h1>We are glad you are here!</h1>
    <p>Please select one of the below!</p>

    <a href="/login/new"><button>Log in</button></a> <br /> <br />
    <a href="/users/new "><button>Sign up</button></a> <br />

    <p>
      <h2><a href="/vegetables">Look at all the Veggies!</a></h2><br/>
    </p>

  </div>
